@import "tailwindcss";
@keyframes pulse-slow {
  0%,
  100% {
    text-shadow: 0 0 10px rgba(59, 130, 246, 0.7);
  }
  50% {
    text-shadow: 0 0 20px rgba(59, 130, 246, 1);
  }
}

.animate-pulse-slow {
  animation: pulse-slow 3s ease-in-out infinite;
}
